/* Element Selector */

/* All h1 headings */
h1 {
    color: blue;
    text-align: center;
}

/* All paragraphs */
p {
    color: red;
    font-size: 18px;
}

/* All div tags */
div {
    background-color: lightyellow;
    padding: 10px;
    border: 1px solid black;
}
